numpy
EMD_signal
ewtpy
matplotlib
padasip==1.2.2
pandas
pytz
PyWavelets
scikit_learn
sktime
scipy
seaborn
statsmodels==0.13.5
tslearn==0.6.1
vmdpy==0.2
tftb
tqdm
ssqueezepy
numba
jupyter
h5py
chart_studio
plotly
flask~=2.3.3
mysql-connector-python~=8.1.0
tsfel~=0.1.5

python-dotenv~=1.0.0
pytz~=2023.3
requests~=2.31.0
influxdb~=5.3.1
# matplotlib~=3.7.1
paho-mqtt~=2.1.0

PyYAML~=6.0
numpy~=1.24.4
pandas~=2.0.3
python-dateutil~=2.8.2
scipy~=1.10.1
werkzeug~=2.3.7
colorama
apscheduler~=3.10.4

gunicorn~=21.2.0
sslpsk2~=1.0.2

python-socketio~=5.12.0
uvicorn~=0.30.1
websocket-client~=1.8.0

cryptography~=3.4.8
aiohttp~=3.9.5

cython~=3.0.10